<section class='product-cards-section <%- additionalClasses %>'>
    <div class='container'>
        <div class='row pb-5'>
            <div class='col'><h2><%- mainText %></h2></div>
        </div>
        <% if (secondaryText) { %>
            <div class='row mb-4'>
                <div class='col'><p><%- secondaryText %></p></div>
            </div>
        <% } %>
        <div class='row'>
    <% cards.forEach(data => {%>
        <div class='col-lg-4 col-md-6 col-sm-12'>
            <% if(data.href) { %> <a href='<%- data.href %>'> <% } %>
            <div class="card mb-4 box-shadow">
                <div class="card-img-top">
                    <img alt="<%- data.imgAlt %>" src="<%- data.imgSrc %>">
                </div>
                <div class="card-body">
                    <h4><%- data.title %></h4>
                    <p class="card-text"><%- data.description %></p>
                    <span class="higlight text-sm-left"><%- data.price %></span>
                </div>
            </div>
            <% if(data.href) { %> </a> <% } %>
        </div>
    <%});%>
        </div>
        <% if (ctaHref) { %>
            <div class='button-group'>
                <a class='btn btn-primary' href='<%- ctaHref%>'><%- ctaButtonText %></a>
            </div>
        <% }%>
    </div>
</section>