---
layout: base.ejs
---

<%- include('/hero', {
mainText: 'Químicas Scorpio',
secondaryText: [
'Somos una empresa 100% mexicana con más de 30 años de experiencia en el sector de adhesivos industriales y escolares atendiendo todo tipo de mercado formulando a la medida del usuario.',
],
ctaButtonText: 'Contáctanos',
additionalClasses: 'index-hero-bg'
})
%>

<%- include('/banner', {
mainText: 'Nuestra respuesta ante la pandemia',
secondaryText: [
'En Químicas Scorpio sabemos la importancia de proteger a nuestros clientes aliados por eso ante la situación creada por la emergencia sanitaria hemos reforzado nuestros protocolos de seguridad para cuidar de tí y los tuyos.'
],
ctaButtonText: 'Leer más',
additionalClasses: 'light-blue-bg',
noButton: false,
href: ''
})
%>

<%- include('/servicios') %>

<%- include('/cta', {
mainText: 'Adhesivos a la medida',
secondaryText: [
'¿No encontraste lo que estabas buscando? Desarrollamos soluciones y productos a la medida.'
],
ctaButtonText: 'Leer más',
additionalClasses: 'light-blue-bg',
noButton: false,
href: '/a-la-medida'
})
%>

<%- include('/grid', {
mainText: '¿Porqué Químicas Scorpio?',
elements: [
{ htmlContent: '<h3>Productividad</h3><p>Tener unas instalaciones en estado óptimo te ayuda a generar un ambiente de trabajo positivo y la productividad de tus empleados puede verse incrementada.</p>'},
{ htmlContent: '<h3>Presentación</h3><p>Contar con unos jardines e instalaciones bien cuidadas, es la mejor carta de presentación que puedes tener cuando recibas visitas importantes en tu oficina.</p>'},
{ htmlContent: '<h3>Seguridad</h3><p>Haces sentir cuidados y protegidos a colaboradores y clientes en caso de una emergencia como sismos o incendios.</p>'},
],
additionalClasses: 'grey-bg'
})
%>

<%- include('/banner', {
mainText: '¿Quieres comprar nuestros productos?',
secondaryText: [],
ctaButtonText: 'Contáctanos',
additionalClasses: 'solecap-purple-light-bg',
href: ''
})
%>

<%- include('/certificaciones') %>

<%- include('/banner', {
mainText: '¿Dudas? ¡Acercate!',
secondaryText: [],
ctaButtonText: 'Contáctanos',
additionalClasses: 'solecap-purple-light-bg',
href: ''
})
%>