---
title: 'Migajón o Pasta Francesa'
permalink: 'productos/migajon-pasta-francesa/index.html'
description: 'Adhesivo Migajón o Pasta Francesa'
href: '/productos/adhesivo-migajon-pasta-francesa'
imgAlt: 'Pasta francesa'
imgSrc: '/images/bulk.jpg'
order: 1
price: $5,000.00
---
<%- include('/hero', {
mainText: 'Adhesivo Migajón o Pasta Francesa',
secondaryText: [
'Adhesivo elaborado con base solvente, obtiene una alta maleabilidad al mezclarse con otros elementos. Ideal para crear figuras artísticas e incluso permite el moldeado.'
],
ctaButtonText: 'Contáctanos',
additionalClasses: 'serv-ambien-bg'
})
%>

<%- include('/side-image', {
heading: 'Migajón o Pasta Francesa',
image: { src: '/images/medida.jpeg', alt: 'Unos trabajadores cargando un camión de basura con varios objetos.' },
features: [
{ title: '', description: 'Elaborado con base solvente, obtiene una alta maleabilidad al mezclarse con otros elementos como: fécula de maíz, crema o glicerina. Es ideal para crear figuras artísticas e incluso permite el moldeado. ' },
{ title: '', description: '' },
],
additionalClasses: 'light-blue-bg',
imgClasses: ""
})
%>

<%- include('/grid', {
mainText: '',
elements: [
{ htmlContent: '<h3>Migajón o Pasta Francesa</h3><p>Este adhesivo es base del migajón artístico o también llamado porcelana fría.</p>'},
],
additionalClasses: 'grey-bg'
})
%>

<%- include('/cta', {
mainText: 'Adhesivos 100% a la Medida',
secondaryText: [
'¿No encuentras algún tipo de pegamento en específico? Nosotros lo podemos fabricar de acuerdo a las necesidades y especificaciones que tengas. Contáctanos.'
],
ctaButtonText: 'Contáctanos!',
additionalClasses: 'scorpio-green-bg',
noButton: false,
href: ''
})
%>

<%- include('/servicios') %>

<%- include('/banner', {
mainText: '¿Quieres comprar este producto?',
secondaryText: [
'Nuestros clientes son lo principal en Químicas Scorpio. Ponte en contacto nosotros por cualquiera de nuestros medios y con gusto te daremos un presupuesto.'
],
ctaButtonText: 'Contáctanos',
additionalClasses: 'solecap-green-light-bg',
href: '/blog/pandemia'
})
%>