---
title: 'Adhesivo Base Agua'
permalink: 'productos/adhesivo-base-agua/index.html'
description: 'Adhesivo Base Agua'
href: '/productos/adhesivo-base-agua'
imgAlt: 'Adhesivo base agua'
imgSrc: '/images/paper.jpg'
order: 1
price: $5,000.00
---
<%- include('/hero', {
mainText: 'Adhesivos Base Agua',
secondaryText: [
'Formulados a partir de premezclas basadas en agua que permiten tener un producto con poca toxicidad y excelente rendimiento al pegado'
],
ctaButtonText: 'Contáctanos',
additionalClasses: 'base-agua-bg'
})
%>

<%- include('/side-image', {
heading: 'Adhesivo Base Agua',
image: { src: '/images/paper.jpg', alt: 'Unos trabajadores cargando un camión de basura con varios objetos.' },
features: [
{ title: '', description: 'Estos productos regularmente usados en el pegado de cartón y papel, están formulados a partir de premezclas basadas en agua que permiten tener un producto con poca toxicidad y excelente rendimiento al pegado de estos elementos. ' },
{ title: '', description: 'Dentro de este encontramos las siguientes categorías: Acetato de polivinilo, Copolímeros de Acetatos de polivinilo, Dextrinas y Recubrimiento Michelman / PVA.' },
],
additionalClasses: 'light-blue-bg',
imgClasses: ""
})
%>

<%- include('/grid', {
mainText: '',
elements: [
{ htmlContent: '<h3>Acetato de polivinilo</h3><p>Se usa en el pegado de: papel, caja, corrugado, laminación y tubos espirales de cartón.</p>'},
{ htmlContent: '<h3>Copolímeros de Acetatos de polivinilo</h3><p>Se usa en el pegado de:  madera-madera y plástico-madera.</p>'},
{ htmlContent: '<h3>Dextrinas</h3><p>Debido a su alta conversión y ser prácticamente solubles se usa en el pegado de cartón, papel y etiquetas.</p>'},
{ htmlContent: '<h3>Recubrimiento Michelman / PVA</h3><p>Se usa como recubrimiento  hidrofóbico en papel y cartón.</p>'},
],
additionalClasses: 'grey-bg'
})
%>

<%- include('/cta', {
mainText: 'Adhesivos 100% a la Medida',
secondaryText: [
'¿No encuentras algún tipo de pegamento en específico? Nosotros lo podemos fabricar de acuerdo a las necesidades y especificaciones que tengas. Contáctanos.'
],
ctaButtonText: 'Contáctanos!',
additionalClasses: 'bg-green-04',
noButton: false,
href: ''
})
%>

<%- include('/servicios') %>

<%- include('/banner', {
mainText: '¿Quieres comprar este producto?',
secondaryText: [
'Nuestros clientes son lo principal en Químicas Scorpio. Ponte en contacto nosotros por cualquiera de nuestros medios y con gusto te daremos un presupuesto.'
],
ctaButtonText: 'Contáctanos',
additionalClasses: 'solecap-green-light-bg',
href: '/blog/pandemia'
})
%>