---
title: 'Adhesivo Solvente'
permalink: 'productos/adhesivo-base-solvente/index.html'
description: 'Adhesivo Base Solvente'
href: '/productos/adhesivo-base-solvente'
imgAlt: 'Adhesivo base solvente'
imgSrc: '/images/bulk.jpg'
order: 1
price: $5,000.00
---
<%- include('/hero', {
mainText: 'Adhesivos Base Solvente',
secondaryText: [
'Adhesivos con fuerza de adhesión y cohesión mayor, al crear calor interno y externo en el cuerpo del adhesivo.'
],
ctaButtonText: 'Contáctanos',
additionalClasses: 'serv-ambien-bg'
})
%>

<%- include('/side-image', {
heading: 'Adhesivo Base Solvente',
image: { src: '/images/medida.jpeg', alt: 'Unos trabajadores cargando un camión de basura con varios objetos.' },
features: [
{ title: '', description: 'Estos productos presentan una fuerza de adhesión y cohesión mayor, al crear calor interno y externo en el cuerpo del adhesivo.' },
{ title: '', description: ' ' },
],
additionalClasses: 'light-blue-bg',
imgClasses: ""
})
%>

<%- include('/grid', {
mainText: '',
elements: [
{ htmlContent: '<h3>Cemento de Contacto</h3><p> Pegamento de secado rápido, alto en sólidos, extrafuerte, formulado con goma de clorofeno a base de solvente que pega de manera efectiva varios tipos de materiales como: madera,superficies poco porosas, tela o cerámica. Se llama así por su fácil aplicación que es al contacto.</p>'},
],
additionalClasses: 'grey-bg'
})
%>

<%- include('/cta', {
mainText: 'Adhesivos 100% a la Medida',
secondaryText: [
'¿No encuentras algún tipo de pegamento en específico? Nosotros lo podemos fabricar de acuerdo a las necesidades y especificaciones que tengas. Contáctanos.'
],
ctaButtonText: 'Contáctanos!',
additionalClasses: 'scorpio-green-bg',
noButton: false,
href: ''
})
%>

<%- include('/servicios') %>

<%- include('/banner', {
mainText: '¿Quieres comprar este producto?',
secondaryText: [
'Nuestros clientes son lo principal en Químicas Scorpio. Ponte en contacto nosotros por cualquiera de nuestros medios y con gusto te daremos un presupuesto.'
],
ctaButtonText: 'Contáctanos',
additionalClasses: 'solecap-green-light-bg',
href: '/blog/pandemia'
})
%>