---
title: 'Nosotros'
permalink: 'about/index.html'
---

<section class="hero-cta">
    <div class="hero-message">
        <h1>ACERCA DE NOSOTROS</h1>
        <h3>Químicas Scorpio es una empresa mexicana con 30 años de existencia,</h3>
        <h4>constituida por una mujer que ofrece productos hechos a la medida de una excelente calidad y costos accesibles.</h4>
    </div>
</section>

<%- include('/features', {
title: 'Valores y Diferenciadores',
description: '',
features: [
{
image: { src: '/images/logo.png', alt: 'Calidad en eleboración de adhesivos' },
heading: 'Calidad',
description: 'Este aspecto es innegociable en nuestros productos, los cuales siguen los más altos estándares y desde nuestro nacimiento nuestro compromiso es ofrecer productos de calidad a precios competitivo.'
},{
image: { src: '/images/logo.png', alt: 'Personalización de adhesivoss' },
heading: 'Personalización',
description: 'Gracias a nuestra basta experiencia tenemos las capacidades necesarias para desarrollar formulaciones de productos totalmente adaptables a lo que el cliente necesite.'
},{
image: { src: '/images/logo.png', alt: 'Constancia en el trabajo' },
heading: 'Constancia',
description: 'Nunca dejamos de innovar y buscar nuevas fórmulas para  ofrecer las mejores soluciones del mercado.'
},{
image: { src: '/images/logo.png', alt: 'Productos de alta calidad y competitivos' },
heading: 'Competitividad',
description: 'Creamos productos de alta calidad a precios competitivos en el mercado.'
}
],
additionalClasses: 'dark-blue-bg'
})
%>

<%- include('/features', {
title: '',
description: '',
features: [
{
heading: 'Misión',
description: 'Brindar el producto que se adapte a las necesidades del cliente, innovando cada día sin dejar de lado la calidad y competitividad. Así como brindar servicio de asesoría a los consumidores que lo requieran'
},{
heading: 'Visión',
description: 'Ser referentes en la industria de adhesivos, destacando de manera general con nuestros productos y servicio diferenciado.'
}
],
additionalClasses: 'white-bg'
})
%>


<%-include('/team')%>

<%- include('/cta', {

mainText: 'Ponte en contacto con Nosotros',
secondaryText: 'Tenemos el adhesivo que necesitas, totalmente a la medida'
})
%>

<%-include('/map')%>